:root {
    --main-color: #4B0000;
    --second-color: #1A1A1A;
    --white: #fff;
    --black: #000;
    --red: #9A0000;
    --yellow: #FCE409;
    --lgray: #D1D1D1;
    --main-font: "Poppins", sans-serif;
    --default-radius: 15px;
}

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    margin: 0;
    font-family: var(--main-font);
    font-size: 1.6rem;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: var(--red);
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
}

main {
    margin: 30px 0
}

.f-white {
    color: var(--white);
}

.f-black {
    color: var(--black);
}

.f-yellow {
    color: var(--yellow);
}

.f-20 {
    font-size: 2rem;
}

.f-14 {
    font-size: 1.4rem;
}
.f-12 {
    font-size: 1.2rem;
}

.f-11 {
    font-size: 1.1rem;
}

.bg-main {
    background-color: var(--main-color);
}

.bg-second {
    background-color: var(--second-color);
}

.bg-white {
    background-color: var(--white);
}


/*FONT WEIGHTS*/
.f-light {
    font-weight: 300;
}

.f-regular {
    font-weight: 400;
}

.f-medium {
    font-weight: 500;
}

.f-semibold {
    font-weight: 600;
}

.f-bold {
    font-weight: 700;
}




.flex-row-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-row-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-row-between-start {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.flex-column-center-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.flex-row-center {
    display: flex;
    align-items: center;
}

.row, .d-flex   {
    display: flex;
}

.burger-menu {
    display: none;
}

.d-none {
    display: none!important;
}

.d-block {
    display: block!important;
}

.w-fit-content {
    width: fit-content;
}

/*.row > * {*/
/*    padding-left: 0.5rem;*/
/*    padding-right: 0.5rem;*/
/*}*/

.flex-column {
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}
.justify-content-end {
    justify-content: flex-end;
}

.align-items-end {
    align-items: end;
}


.row.col-3 > div {
    flex-basis: calc(33.33% - 5px);
}

.py-1 {
    padding-top: 1em;
    padding-bottom: 1em;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-3 {
    margin-top: 3rem;
}

.border-radius-15 {
    border-radius: var(--default-radius);
}

.position-relative {
    position: relative;
}

.overflow-hidden {
    overflow: hidden;
}

.text-upperacse {
    text-transform: uppercase;
}


/************* HEADER *************/

.contact-item {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 400;
}

.contact-item i {
    font-size: 1.1rem;
    margin-right: 5px;
}
header {
    position: relative;
}
header .top {
    padding: 10px 0;
}

header .top > div > div .contact-item:last-of-type {
    margin-left: 5rem;
}

header .bottom {
    padding: 15px 0;
    border-bottom: var(--lgray);
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

nav {
    display: flex;
    align-items: center;
}

nav > div {
    margin: 0 22px;
}
nav > div:last-of-type {
    margin-right: 0;
}

nav > div > a {
    font-size: 1.6rem;
}


/*HAMBURGER*/


.hamburger--squeeze .hamburger-inner {
    transition-duration: 0.075s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--squeeze .hamburger-inner::before {
    transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}
.hamburger--squeeze .hamburger-inner::after {
    transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 29px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}
.hamburger-inner {
    background-color: #000;
}
.hamburger.active .hamburger-inner {
    background-color: #000;
}
.hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block;
}
.hamburger-inner::before {
    top: -9px;
}
.hamburger-inner::after {
    bottom: -9px;
}
.hamburger--squeeze.active .hamburger-inner {
    transform: rotate(45deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--squeeze.active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}
.hamburger--squeeze.active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}


.hamburger {
    font: inherit;
    display: inline-block;
    overflow: visible;
    margin: 0;
    cursor: pointer;
    transition-timing-function: linear;
    transition-duration: .15s;
    transition-property: opacity,filter;
    text-transform: none;
    color: inherit;
    border: 0;
    background-color: transparent;
    padding: 7px 0;
}
.hamburger-box {
    position: relative;
    display: inline-block;
    width: 29px;
    height: 9px;
}





/*BANNER*/



.banner-img {
    position: relative;
    background-position: center;
    background-image: url("/public/img/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 460px;
    overflow: hidden;
    border-radius: var(--default-radius);
}
.banner-overlayer {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.6);
    padding: 2.5rem 10rem;
}

.banner-overlayer h1 {
    font-size: 4.7rem;
    line-height: 60px;
    margin-bottom: 20px;
}


.button {
    display: block;
    text-align: center;
    border-radius: var(--default-radius);
    padding: 0.7rem 2.5rem;
}

.banner-button {
    border: 2px solid var(--white);
}

.banner-button:hover {
    background: var(--white);
}



.section-title {
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: 600;
}


/*RESTAURANT BOX*/
.restaurant-box {
    border: 1px solid #D1D1D1;
    border-radius: var(--default-radius);
    overflow: hidden;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.restaurant-details {
    padding: 1rem 1.8rem;
}
.restaurant-details > * {
    margin-bottom: 10px ;
}
.restaurant-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .2s;
}
.restaurant-box h3 {
    font-size: 2rem;
    font-weight: 600;
}
.restaurant-box .tag-list {
    display: flex;
}
.restaurant-box .tag-list > div {
    width: fit-content;
    border-radius: var(--default-radius);
    font-size: 1rem;
    background-color: #D9D9D9;
    padding: 0.3rem 0.75rem ;
}
.restaurant-box .tag-list > div:first-of-type {
    margin-right: 8px;
}
.restaurant-box .tag-list > div i {
    margin-right: 3px;
}

.restaurant-box .rate .stars {
    margin-right: 0.5rem;
}
.restaurant-box .image {
    overflow: hidden;
    height: 200px;
}
.restaurant-box:hover {
    color: black;
}
.restaurant-box:hover img {
    transform: scale(1.1);
}
    /*FOOTER*/
footer .top {
    padding: 30px 0 30px 0;
}

footer .bottom {
    padding: 7px 0;
    font-size: 1.7rem;
}

footer h6 {
    text-transform: uppercase;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 1.6rem;
}

footer ul {
    position: relative;
    list-style-type: none;
    padding-left: 9px;
    font-weight: 500;
}

footer ul:before {
    position: absolute;
    display: block;
    content: '';
    width: 2px;
    background-color: var(--red);
    left: 0;
    top: 0;
    bottom: 0;
}

.logo-white {
    stroke: white;
}
footer .logo-white p {
    max-width: 239px;
    text-align: justify;
}


@media only screen and (max-width: 768px) {
    .flex-mobile-column {
        flex-direction: column;
    }
    .justify-content-mobile-center {
        justify-content: center;
    }
    .align-items-mobile-center {
        align-items: center;
    }
    .mb-mobile-4 {
        margin-bottom: 4rem;
    }

    footer .logo-white p {
        text-align: center;
    }

    .logo-white {
        text-align: center;
    }
    footer .logo-white p {
        max-width: unset;
    }

    .align-self-mobile-start {
        align-self: start;
    }

    .d-mobile-block {
        display: block!important;
    }

    .d-mobile-none {
        display: none!important;
    }

    .mx-mobile-auto {
        margin-left: auto;
        margin-right: auto;
    }

    .m-mobile-0 {
        margin: 0!important;
    }


    .burger-menu {
        display: block;
    }

    nav {
        position: absolute;
        background-color: white;
        flex-direction: column;
        /* justify-content: center; */
        height: 80vh;
        width: 100%;
        top: 132px;
        left: 0;
        /* right: 0; */
        bottom: 0;
        z-index: 100;
        align-items: end;
        padding: 30px;
        transform: translateX(100%);
        transition: .3s ease-in-out;
        border-top: 1px solid var(--lgray);
    }
    nav.active {
        transform: translateX(0);
    }
    nav > div {
        margin: 0 0 10px 0;
    }
    nav > div > a {
        font-size: 2.5rem;
    }

    header .top .contact-item i {
        font-size: 27px;
    }

    header .top > div > div .contact-item:last-of-type {
        margin-left: 2.4rem;
    }


/*    BANNER*/
    .banner-overlayer h1 {
        text-align: center;
        font-size: 2.8rem;
        line-height: 39px;
    }

}