<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="/public/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/all.css">
    <title>Dashboard</title>
</head>
<body>
    <header>
        <div class="top bg_main f_white">
            <div class="container flex-row-between-center">
                <div class="flex-row-center">
                    <a href="#" class="contact-item me-1">
                        <i class="fa-solid fa-phone-flip"></i> +48 514 343 443
                    </a>
                    <a href="#" class="contact-item">
                        <i class="fa-solid fa-envelope"></i> redakcja@topkebab.pl
                    </a>
                </div>
                <div>
                    <a href="#" class="contact-item">
                        <i class="fa-solid fa-user"></i> Zaloguj się
                    </a>
                </div>
            </div>
        </div>
        <div class="bottom bg_white">
            <div class="container flex-row-between-center">
                <div class="logo">
                    <img src="/public/img/logo.svg" alt="TopKebab logo"/>
                </div>
                <nav>
                    <div><a href="#" title="Home">Home</a></div>
                    <div><a href="#" title="Home">Home</a></div>
                    <div><a href="#" title="Home">Home</a></div>
                    <div><a href="#" title="Home">Home</a></div>
                </nav>
            </div>
        </div>
    </header>
    <footer class="f_white">
        <div class="top bg_main">
            <div class="container flex-row-between-center">
                <div class="logo-white">
                    <img src="/public/img/logo.svg" alt="TopKebab logo"/>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fermentum vitae dolor ut cursus. Phasellus tempor congue nunc. Nullam eget vestibulum nibh.</p>
                </div>
                <div>
                    <h6>Menu</h6>
                    <ul>
                        <li>Home</li>
                        <li>Home</li>
                        <li>Home</li>
                        <li>Home</li>
                    </ul>
                </div>
                <div></div>
            </div>
        </div>
        <div class="bottom bg_second  py-1">
            <div class="container flex-row-between-center">
                <div>TOPKEBAB © 2024 Wszelkie prawa zastrzeżone </div>
                <div>Realizacja: Marcin Godfryd</div>
            </div>
        </div>
    </footer>
</body>
</html>